body{
    text-align: center;
}

#resetSketch{
    margin: 2rem auto; 
    width: 10rem;
    height: 3rem;
    font-size: 1.25rem;
}

#container{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    border: 2px solid black;
}

.gridCell{
    margin: 0;
    padding: 0;
}