body{
    text-align: center;
}

#resetSketch{
    margin: 2rem auto; 
    width: 10rem;
    height: 3rem;
    font-size: 1.25rem;
}

.container{
    width: 600px;
    height: 450px;
    display: grid;
    grid-gap: 0px 0px;
    margin: auto;
    padding: 0;
    border: 2px solid black;
}